.container {
  margin: 0px auto;
  width: 768px;
}

header {
  background-color: black;
}


#logo {
  display: block;
  margin: 0 auto;
}

ul
{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul li
{
  display: inline;
  text-align: center;
}

ul li a
{
  float: left;
  width: 10em;
  color: #fff;
  background-color: #afafaf;
  padding: .2em 1em;
  text-decoration: none;
}